<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head') -%>
</head>
<body>
    <img class="imgHead" src="/images/Group 24.svg " />
    <div class="box shadow">
        <h2 class="authHead"><%= message %> </h2>
        <p id="resetPasswordReturn" class="txtCenter"><%= password  %> </p>
        <br><br><br><br>
        <input class="logbutton shadow pointer" type="submit" value="Homepage">
    </div>
</body>
</html>